<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    ">
	<context:component-scan base-package="com.shsun.addata" />
	<context:annotation-config />

	<bean id="propertyConfigurer" class="com.youdo.spring.beans.factory.config.CustomizedPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:systemconfig.properties</value>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialPoolSize" value="${c3p0.minPoolSize}" />
		<property name="minPoolSize" value="${c3p0.minPoolSize}" />
		<property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
		<property name="acquireIncrement" value="${c3p0.acquireIncrement}" />
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
	</bean>
	 -->
	
	<bean id="dataSource" class="com.youdo.spring.DataSources">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="masterDataSource" key="MASTER"></entry>
				<entry value-ref="slaveDataSource" key="SLAVE"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="masterDataSource"></property>
	</bean>  	
	
	<bean id="masterDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="maxActive" value="${jdbc.maxActive}"/>
		<property name="initialSize" value="${jdbc.initialSize}"/>
		<property name="maxIdle" value="${jdbc.maxIdle}"/>
		<property name="maxWait" value="${jdbc.maxWait}"/>
		<property name="validationQuery">
			<value>SELECT 1 FROM DUAL</value>
		</property>
	</bean>
	
	<bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${slave.driverClassName}"/>
		<property name="url" value="${slave.url}"/>
		<property name="username" value="${slave.username}"/>
		<property name="password" value="${slave.password}"/>
		<property name="maxActive" value="${slave.maxActive}"/>
		<property name="initialSize" value="${slave.initialSize}"/>
		<property name="maxIdle" value="${slave.maxIdle}"/>
		<property name="maxWait" value="${slave.maxWait}"/>
		<property name="validationQuery">
			<value>SELECT 1 FROM DUAL</value>
		</property>
	</bean>

	<bean id="springApplicationContextHolder"
		class="com.youdo.spring.SpringApplicationContextHolder">
	</bean>
	
	<!--
	-->
	<import resource="applicationContext-MyBatis.xml" />
	
	<import resource="applicationContext-DAO.xml" />
	
	<import resource="applicationContext-Quartz.xml" />
</beans>