<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsun.addata.vo.DIM_ADS_CONTRACTMapper" >
  <resultMap id="BaseResultMap" type="com.shsun.addata.vo.DIM_ADS_CONTRACT" >
    <result column="CONTRACT_ID" property="CONTRACT_ID" jdbcType="DECIMAL" />
    <result column="BRIEF_ID" property="BRIEF_ID" jdbcType="DECIMAL" />
    <result column="CONTRACT_NAME" property="CONTRACT_NAME" jdbcType="VARCHAR" />
    <result column="CONTRACT_TYPE" property="CONTRACT_TYPE" jdbcType="VARCHAR" />
    <result column="CONTRACT_SUB_TYPE" property="CONTRACT_SUB_TYPE" jdbcType="VARCHAR" />
    <result column="IS_TIEPIAN" property="IS_TIEPIAN" jdbcType="DECIMAL" />
    <result column="CONTRACT_MONEY" property="CONTRACT_MONEY" jdbcType="DECIMAL" />
    <result column="IS_PURE_INVIDEO_CONTRACT" property="IS_PURE_INVIDEO_CONTRACT" jdbcType="DECIMAL" />
    <result column="IN_VIDEO_MONEY" property="IN_VIDEO_MONEY" jdbcType="DECIMAL" />
    <result column="CONTRACT_NUMBER" property="CONTRACT_NUMBER" jdbcType="VARCHAR" />
    <result column="CONTRACT_DIRECT_USERNAME" property="CONTRACT_DIRECT_USERNAME" jdbcType="VARCHAR" />
    <result column="CONTRACT_CHANNEL_USERNAME" property="CONTRACT_CHANNEL_USERNAME" jdbcType="VARCHAR" />
    <result column="IS_SCHEDULED" property="IS_SCHEDULED" jdbcType="DECIMAL" />
    <result column="LAST_INCOME_DATE" property="LAST_INCOME_DATE" jdbcType="TIMESTAMP" />
    <result column="SUM_INCOME_MONEY" property="SUM_INCOME_MONEY" jdbcType="DECIMAL" />
    <result column="CAMPAIGN_NUM" property="CAMPAIGN_NUM" jdbcType="DECIMAL" />
    <result column="IS_URPLUSFLOWORDER" property="IS_URPLUSFLOWORDER" jdbcType="DECIMAL" />
    <result column="IS_REAVALFLIMITORDER" property="IS_REAVALFLIMITORDER" jdbcType="DECIMAL" />
    <result column="SITE_ID" property="SITE_ID" jdbcType="DECIMAL" />
    <result column="IS_GENERALCAST_CONTRACT" property="IS_GENERALCAST_CONTRACT" jdbcType="DECIMAL" />
    <result column="IS_AMOUNT" property="IS_AMOUNT" jdbcType="DECIMAL" />
    <result column="AMOUNT_SOUR_ID" property="AMOUNT_SOUR_ID" jdbcType="DECIMAL" />
    <result column="CUSTOMER_ID" property="CUSTOMER_ID" jdbcType="DECIMAL" />
    <result column="CUSTOMER_NAME" property="CUSTOMER_NAME" jdbcType="VARCHAR" />
    <result column="CUSTOMER_LEVEL" property="CUSTOMER_LEVEL" jdbcType="VARCHAR" />
    <result column="CUSTOMER_TYPE" property="CUSTOMER_TYPE" jdbcType="VARCHAR" />
    <result column="CUSTOMER_SUB_TYPE" property="CUSTOMER_SUB_TYPE" jdbcType="VARCHAR" />
    <result column="IS_REGISTER" property="IS_REGISTER" jdbcType="DECIMAL" />
    <result column="PROVINCE_ID" property="PROVINCE_ID" jdbcType="VARCHAR" />
    <result column="CRM_COMPANY_ID_01" property="CRM_COMPANY_ID_01" jdbcType="VARCHAR" />
    <result column="CRM_COMPANY_ID_02" property="CRM_COMPANY_ID_02" jdbcType="VARCHAR" />
    <result column="CRM_COMPANY_ID_03" property="CRM_COMPANY_ID_03" jdbcType="VARCHAR" />
  </resultMap>
</mapper>