<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsun.addata.vo.DIM_ADS_CHANNEL_SUBMapper">
  <resultMap id="BaseResultMap" type="com.shsun.addata.vo.DIM_ADS_CHANNEL_SUB" >
    <id column="SUB_CHANNEL_AGENT_ID" property="SUB_CHANNEL_AGENT_ID" jdbcType="DECIMAL" />
    <result column="CHANNEL_AGENT_ID" property="CHANNEL_AGENT_ID" jdbcType="DECIMAL" />
    <result column="CHANNEL_CODE" property="CHANNEL_CODE" jdbcType="VARCHAR" />
    <result column="SUB_CHANNEL_ID" property="SUB_CHANNEL_ID" jdbcType="DECIMAL" />
    <result column="SITE_ID" property="SITE_ID" jdbcType="DECIMAL" />
    <result column="CHANNEL_NAME" property="CHANNEL_NAME" jdbcType="VARCHAR" />
    <result column="SUB_CHANNEL_NAME" property="SUB_CHANNEL_NAME" jdbcType="VARCHAR" />
    <result column="CHANNEL_NUMBER" property="CHANNEL_NUMBER" jdbcType="DECIMAL" />
    <result column="IS_INUSE" property="IS_INUSE" jdbcType="DECIMAL" />
    <result column="START_DATE" property="START_DATE" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="END_DATE" jdbcType="TIMESTAMP" />
    <result column="DESCRIPTION" property="DESCRIPTION" jdbcType="VARCHAR" />
  </resultMap>

	<select id="retrieveAllByAgentId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap"> 
	<![CDATA[ SELECT * FROM DIM_ADS_CHANNEL_SUB where 1=1 AND CHANNEL_AGENT_ID=${value} and IS_INUSE=1]]>
	</select>
	
</mapper>