<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.shsun.addata.vo.ImpressionRowItemMapper">

	<resultMap id="BaseResultMap"
		type="com.shsun.addata.vo.ImpressionRowItem">
		<result column="DATE_TIME" property="DATE_TIME" jdbcType="TIMESTAMP" />
		<result column="DATE_ID" property="DATE_ID" jdbcType="DECIMAL" />
		<result column="HOUR_ID" property="HOUR_ID" jdbcType="DECIMAL" />
		<result column="SITE_ID" property="SITE_ID" jdbcType="DECIMAL" />
		<result column="CHANNEL_AGENT_ID" property="CHANNEL_AGENT_ID" jdbcType="DECIMAL" />
		<result column="SUB_CHANNEL_AGENT_ID" property="SUB_CHANNEL_AGENT_ID"
			jdbcType="DECIMAL" />
		<result column="PROVINCE_ID" property="PROVINCE_ID" jdbcType="DECIMAL" />
		<result column="CITY_ID" property="CITY_ID" jdbcType="DECIMAL" />
		<result column="TYPE_ID" property="TYPE_ID" jdbcType="DECIMAL" />
		<result column="SLOT_ID" property="SLOT_ID" jdbcType="DECIMAL" />
		<result column="CREATIVE_ID" property="CREATIVE_ID" jdbcType="DECIMAL" />
		<result column="IMP" property="IMP" jdbcType="DECIMAL" />
		<result column="CLICK" property="CLICK" jdbcType="DECIMAL" />
		<result column="IMPOVER" property="IMPOVER" jdbcType="DECIMAL" />
		<result column="VIDEO_LENGTH_ID" property="VIDEO_LENGTH_ID" jdbcType="DECIMAL" />
		<!-- -->
		<result column="HOUR_ID" property="HOUR_ID" jdbcType="DECIMAL" />
		<!-- -->
		<result column="SLOT_NAME" property="SLOT_NAME" jdbcType="VARCHAR" />
		<result column="PROVINCE_NAME" property="PROVINCE_NAME"
			jdbcType="VARCHAR" />
		<result column="CITY_NAME" property="CITY_NAME" jdbcType="VARCHAR" />
		<result column="CHANNEL_NAME" property="CHANNEL_NAME" jdbcType="VARCHAR" />
		<result column="SUB_CHANNEL_NAME" property="SUB_CHANNEL_NAME"
			jdbcType="VARCHAR" />
		<result column="CONTRACT_NAME" property="CONTRACT_NAME"
			jdbcType="VARCHAR" />
		<result column="CREATIVE_NAME" property="CREATIVE_NAME"
			jdbcType="VARCHAR" />
		<result column="CAST_NAME" property="CAST_NAME" jdbcType="VARCHAR" />
		<result column="CITY_ID" property="CITY_ID" jdbcType="DECIMAL" />
		<result column="CAST_ID" property="CAST_ID" jdbcType="DECIMAL" />
		<result column="CONTRACT_ID" property="CONTRACT_ID" jdbcType="DECIMAL" />
		<result column="IS_AMOUNT" property="IS_AMOUNT" jdbcType="DECIMAL" />
	</resultMap>
	
	<!-- $里面的是静态SQL，#是动态SQL -->
	<select id="countBy" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultType="int"> 
		<![CDATA[ SELECT COUNT(1) FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract ]]>
		<include refid="whereCondition" />
	</select>
	<select id="mcountBy" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultType="int"> 
		<![CDATA[ SELECT COUNT(1) FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract, DIM_ADS_MOBILE_SEG seg, DIM_ADS_SLOT slot ]]>
		<include refid="mwhereCondition" />
	</select>
	
	
	<select id="gcountBy" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultType="int">   		
		<![CDATA[ select count(1) from (select ]]>
		<include refid="groupbyedProperties" />
		<![CDATA[, count(1) FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract ]]>
		<include refid="whereCondition" />
		<![CDATA[ group by ]]>
		<include refid="groupbyedProperties" />
		<![CDATA[)]]>
	</select>
	<select id="mgcountBy" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultType="int">   		
		<![CDATA[ select count(1) from (select ]]>
		<include refid="groupbyedProperties" />
		<![CDATA[, count(1) FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract, DIM_ADS_MOBILE_SEG seg,DIM_ADS_SLOT slot ]]>
		<include refid="mwhereCondition" />
		<![CDATA[ group by ]]>
		<include refid="groupbyedProperties" />
		<![CDATA[)]]>
	</select>


		
	<select id="retrievePage" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultMap="BaseResultMap"> 
		<![CDATA[ SELECT t2.* FROM (select t1.* ,ROWNUM ROWNUM_  from (SELECT driver.*, creative.CREATIVE_NAME,creative.CAST_ID,creative.CAST_NAME, creative.CONTRACT_ID,creative.CONTRACT_NAME,
		contract.IS_AMOUNT FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract ]]>
		<include refid="whereCondition" />
		<![CDATA[ order by driver.DATE_TIME desc , driver.IMP desc ) t1 where ROWNUM<=${END_ROW} ) t2 where  ROWNUM_>${START_ROW} ]]>		
	</select>
	<select id="mretrievePage" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultMap="BaseResultMap"> 
		<![CDATA[ SELECT t2.* FROM 
		(select t1.* ,ROWNUM ROWNUM_  
			from (SELECT 
			driver.*, 
			creative.CREATIVE_NAME,
			creative.CAST_ID,
			creative.CAST_NAME, 
			creative.CONTRACT_ID,
			creative.CONTRACT_NAME,
			contract.IS_AMOUNT
			FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract, DIM_ADS_MOBILE_SEG seg,DIM_ADS_SLOT slot ]]>
		<include refid="mwhereCondition" />
		<![CDATA[ order by driver.DATE_TIME desc, driver.IMP desc) t1 where ROWNUM<=${END_ROW} ) t2 where ROWNUM_>${START_ROW} ]]>		
	</select>
	
	
	<select id="gretrievePage" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultMap="BaseResultMap">
		<![CDATA[ SELECT ]]>
		<include refid="selectedProperties" />
		<![CDATA[, t2.IMP, t2.CLICK, t2.IMPOVER FROM (select t1.* , ROWNUM ROWNUM_ 
		from 
		(select ]]>
			<include refid="groupbyedProperties" />
  			<![CDATA[, sum(driver.IMP) as IMP, sum(driver.CLICK) as CLICK, sum(driver.IMPOVER) as IMPOVER FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract ]]>
				<include refid="whereCondition" />
		group by 
			<include refid="groupbyedProperties" />
  		<![CDATA[ order by IMP desc ) t1 where ROWNUM <= ${END_ROW} ) t2 where ROWNUM_ >${START_ROW} ]]>
	</select>
	<select id="mgretrievePage" parameterType="com.shsun.addata.vo.ImpressionSqlParameterSource" statementType="STATEMENT" resultMap="BaseResultMap">
		<![CDATA[ SELECT ]]>
		<include refid="selectedProperties" />
		<![CDATA[, t2.IMP, t2.CLICK, t2.IMPOVER FROM (select t1.* , ROWNUM ROWNUM_ 
		from 
		(select ]]>
			<include refid="groupbyedProperties" />
  			<![CDATA[, sum(driver.IMP) as IMP, sum(driver.CLICK) as CLICK, sum(driver.IMPOVER) as IMPOVER FROM ${TABLE_NAME} driver, DIM_ADS_CREATIVE creative, DIM_ADS_CONTRACT contract, DIM_ADS_MOBILE_SEG seg,DIM_ADS_SLOT slot ]]>
				<include refid="mwhereCondition" />
		group by 
			<include refid="groupbyedProperties" />
  		<![CDATA[ order by IMP desc ) t1 where ROWNUM <= ${END_ROW} ) t2 where ROWNUM_ >${START_ROW} ]]>
	</select>	
	
	<sql id="selectedProperties">
		<foreach item="pro" index="index" collection="GROUP_BY_PROPERTIES" open="" separator="," close="">
				<![CDATA[t2.${pro}]]>
  		</foreach>
	</sql>
	
	<sql id="groupbyedProperties">
		<foreach item="pro" index="index" collection="GROUP_BY_ALIASED_PROPERTIES" open="" separator="," close="">
				<![CDATA[${pro}]]>
  		</foreach>	
	</sql>
	
	<sql id="whereCondition">  
		<where>
			<include refid="commonwhereCondition" />
			<if test="HOUR_ID!=null and HOUR_ID!=''">
				<![CDATA[ AND driver.HOUR_ID in ${HOUR_ID} ]]>
			</if>			
		</where>
	</sql>
	<sql id="mwhereCondition">  
		<where>
			<include refid="commonwhereCondition" />
			<if test="VIDEO_LENGTH_ID!=null and VIDEO_LENGTH_ID!=''">
				<![CDATA[ AND driver.VIDEO_LENGTH_ID = ${VIDEO_LENGTH_ID} ]]>
			</if>
			<if test="MOBILE_SEGMENT_ID!=null and MOBILE_SEGMENT_ID!=''">
				<![CDATA[ AND driver.MOBILE_SEGMENT_ID in ${MOBILE_SEGMENT_ID} ]]>
			</if>
			<if test="MOBILE_SEGMENT_ID!=null and MOBILE_SEGMENT_ID!=''">
				<![CDATA[ AND driver.MOBILE_SEGMENT_ID = seg.MOBILE_SEGMENT_ID ]]>
			</if>
			<![CDATA[ AND driver.SLOT_ID = slot.SLOT_ID ]]>
		</where>
	</sql>
	<sql id="commonwhereCondition">  
			<![CDATA[ 1=1 ]]>
			<if test="START_DATE!=null and START_DATE!=''">
				<![CDATA[ AND driver.DATE_TIME >= to_date('${START_DATE}', 'RR-MM-DD') ]]>
			</if>
			<if test="END_DATE!=null and END_DATE!=''">
				<![CDATA[ AND driver.DATE_TIME <= to_date('${END_DATE}', 'RR-MM-DD') ]]>
			</if> 
			<if test="SLOT_ID!=null and SLOT_ID!=''">
				<![CDATA[ AND driver.SLOT_ID in ${SLOT_ID} ]]>
			</if>
			<if test="VIDEO_LENGTH_ID!=null and VIDEO_LENGTH_ID!=''">
				<![CDATA[ AND driver.VIDEO_LENGTH_ID=${VIDEO_LENGTH_ID} ]]>
			</if>			
			<if test="SITE_ID!=null and SITE_ID!=''">
				<![CDATA[ AND driver.SITE_ID = ${SITE_ID} ]]>
			</if>
			<if test="PROVINCE_ID!=null and PROVINCE_ID!=''">
				<![CDATA[ AND driver.PROVINCE_ID in ${PROVINCE_ID} ]]>
			</if>
			<if test="CITY_ID!=null and CITY_ID!=''">
				<![CDATA[ AND driver.CITY_ID in ${CITY_ID} ]]>
			</if>
			<if test="CHANNEL_AGENT_ID!=null and CHANNEL_AGENT_ID!=''">
				<![CDATA[ AND driver.CHANNEL_AGENT_ID in ${CHANNEL_AGENT_ID} ]]>
			</if>
			<if test="SUB_CHANNEL_AGENT_ID!=null and SUB_CHANNEL_AGENT_ID!=''">
				<![CDATA[ AND driver.SUB_CHANNEL_AGENT_ID in ${SUB_CHANNEL_AGENT_ID} ]]>
			</if>
			<if test="CONTRACT_ID!=null and CONTRACT_ID!=''">
				<![CDATA[ AND creative.CONTRACT_ID = ${CONTRACT_ID} ]]>
			</if>
			<if test="AMOUNT_SOUR_ID!=null and AMOUNT_SOUR_ID!=''">
				<![CDATA[ AND contract.AMOUNT_SOUR_ID = ${AMOUNT_SOUR_ID} ]]>
			</if>			
			<if test="CONTRACT_NAME!=null and CONTRACT_NAME!=''">
				<![CDATA[ AND creative.CONTRACT_NAME LIKE '%${CONTRACT_NAME}%' ]]>
			</if>
			<![CDATA[ AND driver.CREATIVE_ID=creative.CREATIVE_ID AND creative.CONTRACT_ID=contract.CONTRACT_ID ]]>			
	</sql>

</mapper>