
.popSelect{position:static;margin-left:auto;margin-right:auto;}.popSelect .dialog_title{color:black;background:#cee1ee;padding:5px;}
.popSelect li{display:inline-block;width:10%;height:20px;line-height:20px;text-align:center;vertical-align:top;}.popSelect li.active{background:#06C;color:white;}
.popSelect li.half{background:#6CF;color:white;}
.popSelect li.all{display:block;width:100%;background:#ccc;color:white;}
.popSelect .topList{border:1px solid black;}.popSelect .topList li{width:60px;border-left:5px solid transparent;}.popSelect .topList li.cur{border-left:5px solid gray;}
.popSelect .topList li.all{width:100%;}
.popSelect .subList{display:none;}.popSelect .subList .item{width:23%;padding-left:2%;text-align:left;}
.dbox td .flowbar .num{margin:0;width:auto;}
.button{border:1px solid gray;padding:4px ;}
.num{color:red;}
.drop-checkbox{border:1px solid #99bbe8;position:absolute;width:350px;background:#ecf2fb;padding:10px;z-index:100;display:none;}.drop-checkbox .ok{position:absolute;bottom:10px;right:10px;background:#99bbe8;padding:5px 15px;color:black;text-decoration:none;}
.drop-checkbox .ok:hover{background:#6f9fdf;color:white;}
.drop-checkbox label{display:inline-block;padding:5px 0;width:160px;*display:inline;*zoom:1;}.drop-checkbox label input{margin-right:3px;}
.drop-checkbox label:hover{background:#c3d7f1;color:white;}
