<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsun.addata.enty.raw.AreaMapper">
  <resultMap id="BaseResultMap" type="com.shsun.addata.entry.raw.Area">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaid" jdbcType="VARCHAR" property="areaid" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, areaid, area, cityid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from areas
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from areas
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.shsun.addata.entry.raw.Area">
    update areas
    <set>
      <if test="areaid != null">
        areaid = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        cityid = #{cityid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shsun.addata.entry.raw.Area">
    update areas
    set areaid = #{areaid,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      cityid = #{cityid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.shsun.addata.entry.raw.Area">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaid" jdbcType="VARCHAR" property="areaid" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, areaid, area, cityid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from areas
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from areas
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.shsun.addata.entry.raw.Area">
    update areas
    <set>
      <if test="areaid != null">
        areaid = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        cityid = #{cityid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shsun.addata.entry.raw.Area">
    update areas
    set areaid = #{areaid,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      cityid = #{cityid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.shsun.addata.enty.raw.Area">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaid" jdbcType="VARCHAR" property="areaid" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, areaid, area, cityid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from areas
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from areas
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.shsun.addata.enty.raw.Area">
    update areas
    <set>
      <if test="areaid != null">
        areaid = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        cityid = #{cityid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shsun.addata.enty.raw.Area">
    update areas
    set areaid = #{areaid,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      cityid = #{cityid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>